<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="baseLogPath">
            logs
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="utf-8" pattern="[%d{yyyy-MM-dd HH:mm:ss}] [ %p ] %l  - %msg%n" />
        </Console>
        <RollingFile name="RollingFile"
                     fileName="../logs/daily.log"
                     filePattern="${sys:logPath}/daily-%d{yyyy-MM-dd HH-mm-ss}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%logger{36} %-5level] - %msg%n"/>
            <!--            <OnStartupTriggeringPolicy />
                            <SizeBasedTriggeringPolicy size="20 MB" />-->
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <DefaultRolloverStrategy>
                <Delete basePath="../logs/daily">
                    <IfFileName glob="daily-*.log"/>
                    <IfLastModified age="60d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <File name="File" fileName="../logs/error.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%logger{36} %-5level] - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>

         <Logger name="org.apache.logging.log4j2" level="error" additivity="false">
                    <AppenderRef ref="Console"/>
          </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>