<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.modules.management.dao.AvatarDao">
    <resultMap type="com.joker.modules.management.entity.Avatar" id="mgAvatar">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="path" column="path"/>
        <result property="createOn" column="create_on"/>
        <result property="updateOn" column="update_on"/>
    </resultMap>

    <sql id="photo_colums">
        id,name,path,create_on,update_on
    </sql>

    <!-- 查找所有用户 -->
    <select id="findAllPhoto" resultMap="mgAvatar">
        SELECT
            <include refid="photo_colums"/>
          <!--  <include refid="picture_colums"/>-->
        FROM
          rms_photo
    </select>

    <!-- 更具id查找用户 -->
    <select id="findAvatarById" resultMap="mgAvatar" parameterType="java.lang.Integer">
        SELECT
        <include refid="photo_colums"/>
        FROM
        rms_photo
        WHERE
          id = #{id}
    </select>


    <insert id="addAvatar" parameterType="com.joker.modules.management.entity.Avatar" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO
            rms_photo(name,path,create_on)
        VALUES
           ( #{name},#{path},now())
        ]]>
    </insert>

    <update id="updateAvatarById" parameterType="com.joker.modules.management.entity.Avatar">
        <![CDATA[
        UPDATE
            rms_photo
        SET
            name = #{name},
            path=#{path},
            update_on=now()
         WHERE
           id=#{id}
        ]]>
    </update>

</mapper>
